body{
    height: 80vh;
    font-family: Helvetica, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

table {
    display: flex;
    align-self: center;
    margin-right: 90px;
}

h1 {
    color: red;
}

td{
    border: 2px solid black;
}

td > form > button{
    padding: 5px;
}

.meter > button{
    border: 2px solid white;
    background-color: red;
    color: white;
}

.meter > button:hover{
    background-color: yellow;
    color: red;
}

.meter > button:active{
    border: 2px solid white;
    background-color: red;
    color: white;
}

.reiniciar{
    margin: 20px;
}

.reiniciar > button{
    border: 2px solid white;
    background-color: black;
    color: white;
}

.reiniciar > button:hover{
    background-color: white;
    color: black;
}

.reiniciar > button:active{
    border: 2px solid white;
    background-color: black;
    color: white;
}