/* body{
    background-color: black;
} */

table {
    border: 1px solid;
  }
  td{
    height: 20px;
    width: 20px;
    border: black 2px solid;
  }

  tr{
    height: 20px;
    width: 20px;
    border: black 2px solid;
  }
  

