table{

    border: 10px solid black;
    border-color: brown;
    padding: 2px;
}
tr{
    border: 1px solid black;
    padding: 10px;  
}
td{
    border: 1px solid black;
     padding: 10px;  
}
$colortrue{
    
}