body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #6d5b5b;
    margin: 0;
  
}


table {
    background-color: #2f363e;
    border-collapse: separate;
    border-spacing: 10px;
    margin: 10px auto;
    border-radius: 10px;
}

td {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.1);
}

button {
    height: 50px;
    width: 75px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #ccc;
}


.display{
    display: flex;
    flex-direction: row;
    gap:1px;
}
